<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Owner Signup Portal</title>
    <style>
        .alert {
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Owner Signup Portal</h1>
    <form method="POST" action="{{ url_for('signup') }}">
        <div>
            <label>Username</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email" class="form-control"  required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <div>
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control"  required>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
